{% extends 'base.html.twig' %}

{% block title %}Détails de cette japonaiserie{% endblock %}

{% block body %}

    <h1>
        Détails du produit "{{properties.Titre}}"
    </h1>

    <p>
        {{properties.description}} 
    </p>

{% endblock %}