{% extends 'base.html.twig' %}

{% block title %}Création des biens{% endblock %}

{% block body %}

<h2>Création des biens</h2>

{{ include( 'admin/produit/form_edit.html.twig', {form: form, button: 'Créer'}) }}

{% endblock %}